<main>
    <div class="row left-page ">
        <h1>Create Template</h1>

        <div>
            <span class="header">Parameters</span>

            <div class="row">
                <span class="large-4 columns">
                    <input [(ng-model)]="templateName" type="text" placeholder="New Template Name"/>
                </span>
                <button *ng-if="state.isEditable" type="button" class="button large-2 columns right end" (click)="createTemplate()">
                    Create
                </button>
            </div>
            <div *ng-if="state.success" class="row">
                <div class="callout secondary">
                    <h5>Template created</h5>
                    <a [router-link]="['/ListTemplates' ]" class="button">
                        View all templates
                    </a>
                </div>
            </div>
            <div *ng-if="state.failure" class="row">
                <div class="callout warning">
                    <h5>Template not created</h5>

                    <div>
                        Does this template name already exist? Try a new name
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>