<main>
    <div class="row">
        <h1>Create Job</h1>

        <div>
            <span class="header">Parameters</span>

            <div class="row">
                <span class="large-4 columns">
                    <input [(ng-model)]="newJobName" type="text" placeholder="New Job Name"/>
                </span>
                <button *ng-if="isCreateable" type="button" class="button large-2 columns right" (click)="createJob()">
                    Create Job
                </button>
            </div>
            <div *ng-if="createSucceeded" class="row">
                <div class="callout secondary">
                    <h5>Create succeeded</h5>
                    <a [router-link]="['/Jobs', { templateName: templateName }]" class="button">
                        View all jobs for <code>{{templateName}}</code>
                    </a>
                </div>
            </div>
            <ul class="accordion" data-accordion role="tablist">
                <li *ng-for="#param of parameters" class="accordion-item">

                    <a [href]="'#' + param.name"
                       role="tab"
                       class="accordion-title"
                       [id]="param.name + '-link'"
                       [attr.aria-controls]="param.name">{{param.name}}
                        &nbsp;&nbsp;&nbsp;<code>{{param.defaultValue}}</code></a>

                    <div [id]="param.name" class="accordion-content" role="tabpanel" data-tab-content
                         [attr.aria-labelledby]="param.name + '-link'">
                        <input [(ng-model)]="param.value" [placeholder]="param.defaultValue" type="text"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>