<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a [router-link]="['/Templates']">Francois</a></li>
            <li><a [router-link]="['/Templates']">All Templates</a></li>
            <li><a [router-link]="['/CreateTemplate']">New Template</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="/api/swagger">API</a></li>
        </ul>
    </div>
</div>