<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="logo-container">
                <a href="https://github.com/paradoxical-io/francois">
                    <img src="/assets/images/paradoxlogo.png" class="pdxlogo"/>
                </a>
            </li>
            <li class="menu-text"><a [router-link]="['/ListTemplates']">Francois</a></li>
            <li><a [router-link]="['/ListTemplates']">All Templates</a></li>
            <li><a [router-link]="['/CreateTemplate']">New Template</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="/swagger/ui">API</a></li>
        </ul>
    </div>
</div>